on post-fs
    chown system system /sys/devices/virtual/touchscreen/primary/single_tap_enabled
    chmod 0664 /sys/devices/virtual/touchscreen/primary/single_tap_enabled

service vendor.touch-hal-1-0 /vendor/bin/hw/vendor.lineage.touch@1.0-service.cancunf
    interface vendor.lineage.touch@1.0::ITouchscreenGesture default
    class hal
    user system
    group system
